{% load staticfiles %}

<html>
    <head>
        <title>cjzilsp27's blog</title>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="https://fonts.googleapis.com/css?family=Courgette" rel="stylesheet"> 
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>
<body>
    <div class="page-header">
		{% if user.is_authenticated %}
			<a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
			<a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
			<p class="top-menu">Hello {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
		{% else %}
			<a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
		{% endif %}
        <h1><a href="/">cjzilsp27's blog</a></h1>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
	    </div>
    </div>
    <br>
    <div class="myTimer">
		<p id="demo"></p>
        <script>
			var myVar = setInterval(myTimer, 1000);
			
			function myTimer() {
				var d = new Date();
                document.getElementById('demo').innerHTML = d.toLocaleTimeString();
            }
        </script>
	</div>
</body>
</html>
