<html>
    <head>
        <title>Django Girls blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Django Girls Blog</a></h1>
        </div>

        <div>
        	<p id="demo"></p>
        	<script>
        		var myVar = setInterval(myTimer, 1000);

        		function myTimer() {
        			var d = new Date();
        			document.getElementById('demo').innerHTML = d.toLocaleTimeString();
        		}
        	</script>
		</div>
		<br>

		{% for post in posts %}
	        <div>
    	        <p>published: {{ post.published_date }}</p>
    	        <h2><a href="">{{ post.title }}</a></h2>
				<p>{{ post.text|linebreaksbr }}</p>
				<br>
			</div>
		{% endfor %}
    </body>
</html>
